@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap);

* {
	box-sizing: border-box;
	font-family: Ubuntu,
		Arial,
		Helvetica,
		sans-serif
}

html {
	scroll-behavior: smooth
}

.btn {
	position: fixed;
	top: 50%;
	font-size: 32px;
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	color: #000;
	z-index: 100;
	width: 2em;
	height: 2em;
	transition: background-color .5s;
	border: none
}

.btn:hover {
	background-color: rgba(255, 255, 255, .5)
}

.prev {
	left: 8px
}

.next {
	right: 8px
}

h1,
h2,
h3 {
	font-family: Poppins, sans-serif;
	margin-bottom: 0px;
}

.page-text h1 {
	border-bottom: solid 1px #f4e8d7;
	grid-column: span 3;
}

p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem
}

a {
	color: #f0f600;
	text-decoration: none
}


a:hover {
	cursor: pointer;
	text-decoration: solid underline #f0f600
}

code, code * {
	background-color: #0d0f17;
	color: #bcf8ec;
	overflow-wrap: normal;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 0.8rem;
	display: inline
}

code {
	padding: 2px;
	border-radius: 2px
}

pre code {
	display: block;
	overflow: auto !important;
	background-attachment: fixed !important;
	padding: 0.5rem;
	border-radius: 0.5rem
}

li,
p,
pre {
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid
}

li {
	margin-bottom: 1rem
}

table {
	border-collapse: collapse
}

td,
th {
	border: solid 1px #fff;
	padding: 0.5rem
}

th {
	border-bottom: double 4px #fff;
}

body {
	overflow-x: hidden;
	background-color: #000
}

.controls {
	margin: auto;
	width: max-content;
	color: #fff
}

.author {
	text-align: right
}

.frontpage h1 {
	margin: 0;
	font-size: 6rem;
	font-family: Poppins, sans-serif;
	margin-top: -2rem
}

.info {
	display: flex;
	font-size: .8em;
	width: 100%
}

.info div {
	flex-grow: 1
}

.flip-book {
	margin: 0 auto;
	z-index: 100;
	transition: left .5s;
	position: relative;
	top: 0;
	left: 100%
}

.html-book {
	background-size: cover
}

.page {
	padding: 3.5rem;
	background-color: #161b2b;
	color: #fff;
	border: solid 1px #c2b5a3;
	overflow: hidden;
	font-size: 100%
}

.page .page-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch
}

.page .page-content .page-header {
	height: 2rem;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-bottom: 1rem;
	border-bottom: double 4px #f4e8d7
}

.page .page-content .frontpage {
	margin-bottom: 10px;
	border-bottom: double 4px #f4e8d7
}

.page .page-content .featured {
	display: grid;
	grid-template-columns: repeat(3,auto);
	grid-gap: 1rem;
	margin-bottom: 4rem;
	margin-top: 4rem
}

.featured-content {
	background-color: #0d0f17;
	border-radius: 0.5rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: column
}

.featured-content p {
	flex-grow: 1
}

.featured-content img {
	width:100%
}

.page .page-content .page-attachments {
	flex-shrink: 1;
	display: flex;
	flex-flow: row wrap
}

.page-attachments * {
	margin: auto;
	flex-grow: 1;
}

.page-attachments img {
	max-width: 70%;
}

.page .page-content .page-text {
	height: 50%;
	flex-grow: 1;
	margin-top: 0;
	padding-top: 0;
	box-sizing: border-box
}

@media screen and (min-width:800px) {
	.columns {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(3, calc(100% /3));
		grid-template-rows: repeat(40, calc(100% /40));
		grid-column-gap: 1em;
	}
}

.columns > * {
	height: fit-content;
}

.columns > pre, .columns > table {
	width:max-content;
	margin-top: 0.5rem
}

.page .page-content .page-footer {
	height: 1rem;
	border-top: solid 1px #f4e8d7;
	font-size: 0.8rem;
	color: #fff
}

.page.--left {
	border-right: 0;
	box-shadow: inset -7px 0 30px -7px #000032
}

.page.--right {
	border-left: 0;
	box-shadow: inset 7px 0 30px -7px #000032
}

.page.--right .page-footer {
	text-align: right
}

.page.page-cover.page-cover-top {
	box-shadow: inset 0 0 30px 0 rgba(36, 10, 3, .5), -2px 0 5px 2px rgba(0, 0, 0, .4)
}

.page.page-cover.page-cover-bottom {
	box-shadow: inset 0 0 30px 0 rgba(36, 10, 3, .5), 10px 0 8px 0 rgba(0, 0, 0, .4)
}

@media screen and (max-width:800px) {
	.columns {
		column-width: auto;
		column-count: 1
	}

	.page {
		margin-bottom: 32px;
		padding: 4px;
	}

	html {
		font-size: 3vw
	}

	body {
		margin: 0;
	}

	.page-attachments img {
		max-width: 100%
	}
}


pre .hljs-comment {
	color: #969896;
}

pre .hljs-title, pre .hljs-type {
	color:#00b7ff
}

pre .hljs-variable, pre .hljs-attribute, pre .hljs-tag, pre .hljs-regexp {
color: #5fff87;
}

pre .hljs-number, pre .hljs-preprocessor, pre .hljs-built_in, pre .hljs-literal, pre .hljs-params, pre .hljs-constant {
color: #ad00ff;
}

pre .hljs-class {
color: #e7c547;
}

pre .hljs-string, pre .hljs-value {
color: #00b7ff;
}

pre .hljs-function {
color: #7aa6da;
}

pre .hljs-keyword {
color: #ac13b9;
}