@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  box-sizing: border-box;
}

p, h1, h2, h3 {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

a {
  color: #AAAAFF
}

code {
  background-color: #000000;
  display: block;
  overflow-wrap: normal;
}

body {
  overflow-x: hidden;
  background-color: #000000;
}

.controls {
  margin: auto;
  width: max-content;
  color: #FFFFFF;
}

.columns {
  column-width: 200px;
}

img {
  max-width: 100%;
}

.frontpage h1 {
  margin: 0px;
  font-size: 64px;
}

.info {
  display: flex;
  font-size: 0.8em;
  width: 100%;
}

.info div {
  flex-grow: 1;
}

.flip-book {
  margin: 0 auto;
  display: none;
  z-index: 100
}

.html-book {
  background-size: cover
}

.page {
  padding: 20px;
  background-color: #161b2b;
  color: #FFFFFF;
  border: solid 1px #c2b5a3;
  overflow: hidden
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.page .page-content .page-image {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 0px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 1px #f4e8d7
}

.page .page-content .page-footer {
  height: 30px;
  border-top: solid 1px #f4e8d7;
  font-size: 80%;
  color: #998466
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 50, 1)
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 50, 1)
}

.page.--right .page-footer {
  text-align: right
}

.page.page-cover.page-cover-top {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4)
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4)
}